body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: white;
  height: 100vh;
  font-size: 1.4rem;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 0.4rem;
}

.SmartMirror {
  height: 60%;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.card {
  background: #000000d0;
  color: white;
  text-align: center;
  top: 0%;
  width: 100%;
  max-width: 420px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 120%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

table {
  border-collapse: collapse;
  margin-right: 0;
}

td {
  padding: 8px;
  border: 1px solid black;
}

.clca {
  display: flex;
  width: 300px;
  flex-direction: column;
  right: 0;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

#clock-hours,
#clock-minutes,
#clock-seconds {
  font-size: 21px;
  color: #333;
}

#clock {
  font-family: monospace;
  display: block;
  text-align: center;
  font-size: 2em;
}

#calendar {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  top: 45%;
  right: 0%;
}

.clothing-img {
  width: 170px;
  height: 170px;
}

.clothing-img-2 {
  width: 170px;
  height: 170px;
}

.Bus {
  color: white;
  flex-direction: column;
  float: right;
  width: 300px;
  align-items: center;
  height: 300px;
}

#busArrivals {
  display: inline;
  color: white;
  margin: 0;
  padding: 0;
  width: 230px;
  height: 150px;
  list-style-type: none;
}

#busArrivals li {
  margin-bottom: 10px;
  padding: 6px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: gray;
  font-size: 18px;
  line-height: 1.5;
}

#data-container {
  color: white;
  text-align: center;
  font-size: 22px;
}

/* CSS 스타일 */
.status-very-good {
  color: green;
}

.status-good {
  color: blue;
}

.status-bad {
  color: orange;
}

.status-very-bad {
  color: red;
}
